MYSQL_ROOT_PASSWORD=mysqlrootpass
MYSQL_USER=mysqluser
MYSQL_PASSWORD=mysqlpassword
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DBNAME=jira_time_track
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DBNAME}
JWT_SECRET=super-secret-jwt-key
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
APP_PORT=3000
